/**{
	margin: 0;
	padding: 0;
}*/
.container {
	margin: 50px auto;
	width: 80%;
}

.button { 
	background: #dedede;
	border: 0;
	cursor: pointer;
	font-size: 20px;
	outline: 0;
	padding: 20px;
	text-align: left;
	width: 100%;
}

.button:hover {
	background: #cbcbcb
}

.button::after {
	content: "\002b";
	float: right
}

.act::after {
	content: "\2212"
}

.desc {
	background: #efefef;
	font-size: 18px;
	line-height: 1.5;
/*	margin-bottom: 10px;*/
	max-height: 0;
	overflow: hidden;
	padding: 0 20px;
	transition: 0.3s;
}